html,body {
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    height: 100%;
    background-color: #7ca0a5;
}

h1 {text-align: center; color: #ff9614;}
p {text-align: center; color: #3e4bff;}